DATABASE_URL=""
JWT_SECRET=""
PORT=4000
LIVEKIT_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
S3_BUCKET_NAME=""
RESEND_API_KEY=""
GOOGLE_CLIENT_ID=""
FRONTEND_URL="http://localhost:5173,http://localhost:8080"